body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  line-height: 25px;
}

p {
  font-size: 15px;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer {
  margin-top: 20px;
  text-align: center;
}

/* sections */
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.forecast-section {
  margin-top: 20px;
}

.weather-today {
  text-align: center;
  padding: 15px;
}

.weather-details {
  text-align: center;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 15px 0px;
  margin: 5px 85px;
}

.forecast {
  margin-top: 5px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 10px;
}

.col-border {
  border-right: 1px solid #dadde1;
}

.col-formatting {
  padding: 1px;
}

.unit-toggle {
  text-align: right;
}

.weather-details-row {
  margin: 0;
}

.unit-button:focus {
  box-shadow: none;
}

.unit-button:focus:active {
  box-shadow: none;
}

.search-section {
  margin: 0 0 30px;
  text-align: center;
  vertical-align: middle;
}

.search-form {
  align-items: center;
  padding: 12px 16px;
  background: #fff;
  border: 1px solid #dadde1;
  border-radius: 100px;
}

.search-bar {
  border: 0px;
  outline: none;
  width: 60%;
}

form {
  display: inline;
}

.location-icon {
  font-size: 24px;
  color: #787b8a;
  padding: 0 0 0 10px;
  vertical-align: middle;
  cursor: pointer;
}

.location-icon:hover {
  color: #42444d;
}
